# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled folders
bin/

# CMake stuff
CMake*
!CMakeLists.txt
cmake_install.cmake
Makefile
*build/
*.depend

# Project files
*.cbp
*.layout
*.depend
*.xcodeproj

# Dumb Mac stuff
.DS_STORE