# Dev folders
bin/
obj/

# Project Files
irr-test.cbp
irr-test.depend
irr-test.layout

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
